openwisp-utils[qa] @ https://github.com/openwisp/openwisp-utils/tarball/master
django-cors-headers~=4.0.0
django-redis~=5.2.0
channels_redis~=4.1.0
pytest-asyncio~=0.21.0
pytest-django~=4.5.0
freezegun~=1.2.2
django>=4.2.15 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
