django-notifications-hq~=1.8.2
channels~=3.0.2
openwisp-users @ https://github.com/openwisp/openwisp-users/tarball/master
openwisp-utils[rest,celery] @ https://github.com/openwisp/openwisp-utils/tarball/master
markdown~=3.4.3
django>=4.2.15 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
